streamlit
chromadb
langchain
langchain-google-vertexai
pypdf
starlette>=0.40.0 # not directly required, pinned by Snyk to avoid a vulnerability
anyio>=4.4.0 # not directly required, pinned by Snyk to avoid a vulnerability